<div class="item" *ngIf="value">
  <div class="name-container" *ngIf="value.name">
    <span class="name">{{ value.name }}</span>
  </div>
  <div class="statuses" *ngIf="value.online">
    <span class="online" *ngIf="value.online">В сети</span>
  </div>
  <mat-chip-listbox class="chips">
    <mat-chip *ngIf="value.age">
      {{ value.age }}
    </mat-chip>
    <mat-chip color="primary" *ngIf="value.role">
      {{ UserRoleMap[value.role] || value.role }}
    </mat-chip>
  </mat-chip-listbox>
  <div class="content" *ngIf="value.description">
    {{ value.description }}
  </div>
  <div class="image" *ngIf="value.photoUrl">
    <img src="{{ 'image_2021-03-14_23-22-02.png' | photoUrl }}" alt="Фотография с {{ value.name }}">
  </div>
  <div class="actions">
    <button mat-raised-button (click)="handleDislike()" class="icon-button">
      <app-icon icon="dislike"></app-icon>
    </button>
    <button mat-raised-button (click)="handleLike()" class="icon-button approve">
      <app-icon icon="like"></app-icon>
    </button>
  </div>
</div>
