@import "../../../styles/palete";

:host {
  ::ng-deep .feed-tab-switcher {
    > .mat-mdc-tab-header {
      background: rgba(26, 29, 31, 0.5);
      border-radius: 80px;
      padding: 5px;
      z-index: 1000;
      left: 50%;
      transform: translate(-50%, -50%);
      width: fit-content;
      position: fixed;
      bottom: 70px;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        top: 0;
        left: 0;
      }

      .mat-mdc-tab.mat-mdc-tab {
        flex-grow: 0;
      }

      .mdc-tab-indicator {
        display: none;
      }

      .tab-label-container {
        font-family: $font-family;
        border-radius: 20px;
        background: #272B30;
        font-weight: 500;
        font-style: normal;
        font-size: 15px;
        color: #616974;
        padding: 9px 12px;
        &.active {
          background: #642EFF;
          color: white;
        }
      }

      .mat-mdc-tab-labels {
        justify-content: center;
        gap: 4px;
      }

      .mdc-tab {
        padding: 0;
        min-width: auto;
      }

      .mat-mdc-tab-ripple {
        border-radius: 15px;
      }
    }
  }
}
