<mat-tab-group
  #tabGroup
  class="feed-tab-switcher"
  (selectedTabChange)="onTabChange($event)"
  [selectedIndex]="activeLinkIndex">
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="tab-label-container" [class.active]="activeLinkIndex === 0">Лента</div>
    </ng-template>
    <ng-template matTabContent>
      <router-outlet></router-outlet>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="tab-label-container" [class.active]="activeLinkIndex === 1">Тебя лайкнули</div>
    </ng-template>
    <ng-template matTabContent>
      <router-outlet></router-outlet>
    </ng-template>
  </mat-tab>
</mat-tab-group>
