<div class="item">
  <div class="name-container">
    <span class="name">Okulus </span>
    <a href="https://t.me/leemiant" target="_blank" class="tg-link">@OkulusPampilus</a>
  </div>
  <div class="statuses">
    <span class="online">В сети </span>
    <span class="hint"> • можно принять приглашение в чат</span>
  </div>
  <div class="content">
    Тусуюсь, делаю проекты в сфере культуры, ищу человека, которому будет не страшно поехать в национальный парк или заповедную территорию с палатками
  </div>
  <div class="image">
    <img src="https://static.mvd.ru/upload/site7/document_images/BEVnsnREKp-800x600.jpg" alt="Бомж">
  </div>
  <div class="actions" *ngIf="page === 'requests'">
    <button mat-raised-button (click)="handleCancel()" class="icon-button">
      <app-icon icon="cancel"></app-icon>
    </button>
    <button mat-raised-button (click)="handleApprove()" class="icon-button approve">
      <app-icon icon="approve"></app-icon>
    </button>
  </div>
  <ng-container *ngIf="page === 'matches'">
    <div class="actions">
      <button mat-raised-button (click)="handleRequest()" class="text-button primary">
        Пригласить в чат
      </button>
    </div>
    <div class="actions">
      <button mat-raised-button (click)="handleCancelRequest()" class="text-button danger">
        Отменить приглашение
      </button>
    </div>
  </ng-container>
</div>
