<mat-tab-group class="main-tab-switcher" (selectedTabChange)="onTabChange($event)" headerPosition="below">
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="tab-label-container" [class.active]="activeLinkIndex === 0">
        <div
          [class.active]="activeLinkIndex === 0"
          class="icon-container">
          <app-icon [icon]="activeLinkIndex === 0 ? 'matches-active' : 'matches'"></app-icon>
        </div>
        <div class="tab-label tab-label_matches">Мэтчи</div>
      </div>
    </ng-template>
    <ng-container *ngIf="activeLinkIndex === 0">
      <router-outlet></router-outlet>
    </ng-container>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="tab-label-container" [class.active]="activeLinkIndex === 1">
        <div [class.active]="activeLinkIndex === 1"
             class="icon-container">
          <app-icon [icon]="activeLinkIndex === 1 ? 'feed-active' : 'feed'"></app-icon>
        </div>
        <div class="tab-label tab-label_feed">Лента</div>
      </div>
    </ng-template>
    <ng-container *ngIf="activeLinkIndex === 1">
      <router-outlet></router-outlet>
    </ng-container>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="tab-label-container" [class.active]="activeLinkIndex === 2">
        <div [class.active]="activeLinkIndex === 2"
             class="icon-container">
          <app-icon [icon]="activeLinkIndex === 2 ? 'settings-active' : 'settings'"></app-icon>
        </div>
        <div class="tab-label tab-label_settings">Профиль</div>
      </div>
    </ng-template>
    <ng-container *ngIf="activeLinkIndex === 2">
      <router-outlet></router-outlet>
    </ng-container>
  </mat-tab>
</mat-tab-group>
